
GAME/Library/
GAME/Assets/Scenes.meta
GAME/ProjectSettings/XRSettings.asset
GAME/ProjectSettings/VFXManager.asset
GAME/ProjectSettings/UnityConnectSettings.asset
GAME/ProjectSettings/TimeManager.asset
GAME/ProjectSettings/TagManager.asset
GAME/ProjectSettings/QualitySettings.asset
GAME/ProjectSettings/ProjectVersion.txt
GAME/ProjectSettings/ProjectSettings.asset
GAME/ProjectSettings/PresetManager.asset
GAME/ProjectSettings/Physics2DSettings.asset
GAME/ProjectSettings/NavMeshAreas.asset
GAME/ProjectSettings/InputManager.asset
GAME/ProjectSettings/GraphicsSettings.asset
GAME/ProjectSettings/EditorSettings.asset
GAME/ProjectSettings/EditorBuildSettings.asset
GAME/ProjectSettings/DynamicsManager.asset
GAME/ProjectSettings/ClusterInputManager.asset
GAME/ProjectSettings/AudioManager.asset
GAME/Packages/packages-lock.json
GAME/Packages/manifest.json
GAME/Assets/Scenes/SampleScene.unity.meta
GAME/Temp/UnityLockfile
GAME/Library
GAME/Temp
